* {
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
}
/* NAVBAR  */


/* NAVBAR  */
/* HERO  */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; 
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.hero svg{
  width: 100%;
  height: auto;
  margin: auto;
  padding: 0;
}

#right-wheel,
#left-wheel{
    animation: wheel 2s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes wheel {
    from {
        transform: rotateZ(360deg);
    }
    to {
        transform: rotateZ(0deg);
    }
}

/* HERO  */
